.standard {
  .menu .menu-item.active, .menu .menu-item:hover {
    color: #ff2e88;
    border-color: #ff2e88;
  }

  .logo_link:hover {
    background-color: transparent;
  }

  .logo_link {
    border-bottom: 0;
  }

  .category-link {
    display: inline-block;
    border-bottom: 0;
    margin-top: 8px;
    background-color: transparent;
    color: inherit;
    vertical-align: middle;
    margin-right: 10px;
    span {
      padding-left: 5px;
    }
  }

  .image-category {
    vertical-align: middle;
    height: 18px;
  }

  .blog-post-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 664px;
  }

  .description {
    display: block;
    text-align: center;
    margin: 10px auto;
  }

  .post {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .pagination {
    margin: 0 auto;
    text-align: center;

    a, span {
      padding: 5px;
      border-bottom: 0px;
    }
  }

  .blog-navigation {
    position: relative;
    height: 90px;

    .blog-navigation__previous-link, .blog-navigation__next-link {
      position: absolute;
      width: 50%;
      border-bottom: 0;
    }

    a:hover {
      color: #c50b5c;
      background: white;
    }

    .blog-navigation__previous-link {
      text-align: left;
      left: 0;
    }

    .blog-navigation__next-link {
      text-align: right;
      right: 0;
    }
  }

  .card {
    .card-title {
      text-align: center;
      font-weight: normal;
      font-size: 20px;
      @include media-query($on-palm) {
        max-width: 80%;
        margin: 20px auto;
      }
    }

    .card-title {
      .card-title__date {
        display: block;
        position: relative;
        top: 0;
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .gist {
    overflow: auto;
    max-width: 800px;
  }

  .logo {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    .bullshit {
      display: block;
      font-weight: lighter;
      font-size: 16px;
      margin-top: 5px;
    }
  }
}
