.standard {
  .blog-post-image {
    text-align: center;

    img {
      width: 100%;
    }

    em {
      content:" ";
      white-space: pre;
      display: block;
    }
  }

  .post {
    margin-bottom: 20px;
  }

  .pagination {
    margin: 0 auto;
    text-align: center;

    a, span {
      padding: 5px;
      border-bottom: 0px;
    }
  }

  .blog-navigation {
    position: relative;
    height: 90px;

    .blog-navigation__previous-link, .blog-navigation__next-link {
      position: absolute;
      width: 50%;
      border-bottom: 0;
    }

    a:hover {
      color: #c50b5c;
      background: white;
    }

    .blog-navigation__previous-link {
      text-align: left;
      left: 0;
    }

    .blog-navigation__next-link {
      text-align: right;
      right: 0;
    }
  }

  .card {
    .card-title {
      text-align: center;
      font-weight: normal;
      font-size: 20px;
    }

    .card-title {
      .card-title__date {
        display: block;
        position: relative;
        top: 0;
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .gist {
    overflow: auto;
    max-width: 800px;
  }

  h1 {
    .bullshit {
      display: block;
      font-size: 14px;
      font-weight: 100;
      position: relative;
      bottom: 25px;
      left: 10px;
    }
  }
}
