---
layout: default
---

<section class="t-hackcss-placard">
  <h1>{{ page.title }}</h1>
  <p>{{ page.description }}</p>
  <div style="margin-bottom: 10px">
    {% for category in site.category_pages %}
    <a class="category-link" href="{{ category.url }}"><img class="image-category" src="{{ category.src }}">&nbsp;{{ category.text }}</a>
    {% endfor %}
  </div>
</section>

<section>
  <div class="grid t-hackcss-cards">
    {% for post in site.categories[page.category] %}
      <div class="cell -6of12 t-hackcss-cards-cell">
        <div class="card">
          {% for category in site.data.categories %}
            {% if post.category == category.slug %}
              <header class="card-header">{{ category.name }}</header>
            {% endif %}
          {% endfor %}

          <div class="card-content">
            <div class="inner">
              {% if post.image_preview %}
              <a href="/{{ post.category_page }}">
                <img src="{{ post.image_preview }}" class="t-hackcss-cards-image"
                     alt="{{ post.title }}"
                     title="{{ post.short_description }}" />
              </a>
              {% endif %}

              <h1 class="card-title">
                {{ post.title }}
                <span class="card-title__date">{{ post.date |  date: '%-d %B %Y'}}</span>
              </h1>

              <p class="t-hackcss-cards-text">
                {{ post.short_description }}
                <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                  Read more.
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

