<!DOCTYPE html>
<html>

  {% include head.html %}


  {% if site.theme_mode == 'markdown' %}
    <body class="hack">
  {% elsif site.theme_mode == 'standard' %}
    <body class="standard">
  {% elsif site.theme_mode == 'dark' %}
    <body class="hack dark">
  {% endif %}

    <div class="container">
      <div class="grid">
        <aside class="cell -3of12" role="navigation">
          <div class="logo">
            <a href="/" class="logo_link">
              <img src="/images/personal_life.png" style="height: 165px" title="Back to the home page...">
            </a>
            <span class="bullshit">Delicious Meal for Thought</span>
          </div>
          {% include navigation.html %}
        </aside>

        <main class="cell -9of12">
          {{ content }}
        </main>
      </div>

    {% include footer.html %}

    </div>

  </body>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        d.getElementById('loading').style.display = "none";
        return;
      }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=676883012507478";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</html>
